header {
  margin: 10px 0;
}
nav > ul {
  display: flex;
  justify-content: center;
  gap: 25px;
}
nav ul li a {
  color: black;
}

/* Mega-menu Styles Start from here*/

/* here it will select the ul which has the class 'dropdown' inside a li */
nav li .dropdown {
  margin-left: 15px;
  position: absolute;
  background-color: white;
  display: none;
}

/* here is the trick, you will first of all hover the li which has the class .dropdown inside it, it then the immediate child will be displayed block and not all the dropdown elements */
nav li:hover > .dropdown {
  display: block;
}

/* it will give padding to all the list items which has the dropdown class */
nav li .dropdown li {
  padding: 5px;
}
